*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
 height: 100%;
 width: 100%;
}
 
#main {
    height: 100%;
    width: 100%;
}
#header{
   /* vh means viewport height aur vw means viewport width ye dono parent independent hote hai  */
    /* height:10vh;
    width: 100vw; */
    height: 10%;
    width: 100%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:white;
    z-index:1000;
}


#fakeheader{
    height: 10%;
    width: 100%

}

#logo{
    height:70%;
}

#logo img{
    height:100%;
    width: 100%;
   object-fit: cover;
}

.text{
    color: rgb(4, 4, 97);
    display: flex;
    cursor: pointer; 
}

.text:hover{
    color: rgb(14, 125, 162);
}

#contact {
    opacity: 0.8;
    cursor: pointer; 
}

#contact p u:hover{
    color: rgb(14, 125, 162);
}
.icon{
    padding: 10px;
   border-radius:50%;
}

.icon:hover{
   background-color:lightblue;
}

#login{
 border-radius:50px;
}
#login a{
    display: flex;
    padding: 10px;
    text-decoration: none;
  
    
}

#login:hover{
   background-color:lightblue;
}

#try{
    background-color: green;
    padding:10px 20px;
    color: aliceblue;
}

#try:hover{
    background-color: rgb(15, 62, 15);
}



/* page 1 designing */

 #page1 {
    height:90%;
    width: 100%;
   background-image: url(src/Gemini_Generated_Image_4rhzbe4rhzbe4rhz.png);
   background-size: 100% 100%;

 }

#strip{
    height:7%;
    width: 100%;
    background-color: rgb(29, 20, 106);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
}

#strip u{
    margin: 20px;
   font-weight:lighter;
}

#content{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1{
    height: 90%;
    width: 48%;
    background-color:white;
    border-radius: 20px;
   
}

#heading{
    font-weight: 600;
    color: rgb(0, 0, 88);
    font-size:30px;
    margin:40px 25px;
}

#para{
   font-size: xx-large;
    color: rgb(0, 0, 88);
    margin:40px 25px;
    font-weight:500;
}

.btns{
    display: flex;
    
}
#btn1 {
    text-align: center;
    margin: 18px 25px;
    padding: 18px;
    width: 25%;
    background-color:rgb(22, 99, 207) ;
    
    border-radius: 5px;
    font-weight: 600;
}

#btn1 a{
color: rgb(230, 245, 254);
text-decoration: none;
}

#btn1:hover{
    background-color: rgb(11, 57, 116);
}

#btn2 {
    border-radius: 5px;
    text-align: center;
    margin: 18px 25px;   
    width: 25%;
    padding: 18px;
    border: 2px solid rgb(46, 123, 230) ;
    
    font-weight:600;
}

#btn2 a{
        color:rgb(46, 123, 230) ;
        text-decoration: none;
}

#btn2:hover{
    background-color:lightblue;
    color: rgb(0, 67, 90);
    border: 2px solid  rgb(0, 67, 90);
    
}

#btn2 a:hover{
    color: rgb(0, 67, 90);
    
}
#box2{
    height: 90%;
    width:48%;
   
}

#card{
    height: 100%;
    width: 100%;
}
#card img {
    height: 100%;
    width: 100%;
    object-fit:contain;
}
#tagline{
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
   color: rgb(16, 16, 136);
}

#tagline h1{
     font-weight:600;
     font-size:38px;
}


/* page 2 desigining  */
#page2 {
        height:90%;
        width: 100%;
        background-image:url(src/Gemini_Generated_Image_7t20787t20787t20.png);
        background-size: 100% 100%;
       background-repeat: no-repeat;
       
    } 
.card-container {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around; 
    
}

/* Card Structure */
.card {
    background: white;
    width:19%;
    border-radius:20px;
    overflow: hidden;
    text-align:left;
    transition: transform 0.3s ease;
    box-shadow: 10px 10px 10px rgba(0, 5, 7, 0.05); 
}
.card:hover {
    transform: translateY(-5px);
}

/* Header Backgrounds with soft gradients */

.card-header {
    height:130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
   padding:25px;
}

.blue-bg { background: linear-gradient(180deg, #e3f2fd 0%, #ffffff 100%); }
.green-bg { background: linear-gradient(180deg, #e8f5e9 0%, #ffffff 100%); }
.pink-bg { background: linear-gradient(180deg, #fce4ec 0%, #ffffff 100%); }
.orange-bg { background: linear-gradient(180deg, #fff3e0 0%, #ffffff 100%); }

/* Icon Styling */
.icon-circle {
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index:2;
}

/* content work */

.card-content {
    padding: 20px 25px 40px 25px;
}

.card-content h3 {
    color: #063b73;
    font-size:large;
    margin-bottom:19px;
}

.card-content p {
    color: #2d2828;
    font-size:16px;
    line-height:1.3;
    margin-bottom:40px;
    cursor: pointer;
}

.card-content p u {
    color: #063b73;
    font-weight: bolder;
    font-size:large;
}

/* Footer Button */
#button-wrapper {
    height: 20%;
    width: 100%;
    margin:-40px 4px;
    display:flex;
    align-items: center;
    justify-content:space-around;
}

button{
    height:40px;
    width:180px ;
    color:  rgb(49, 121, 177) ;
    border: 3px solid  rgb(49, 121, 177) ;
    background-color:white;
    font-size:15px;
    font-weight: 600;
    border-radius:5px;
}

button:hover{
    background-color: rgb(227, 239, 244);
    color: #224a75;
    border: 3px solid #224a75 ;
}
#page3 {
    height:90%;
    width: 100%;
    background-image: url(Gemini_Generated_Image_4rhzbe4rhzbe4rhz.png);
    background-position: 100% 100%; 
}


.section1 {
 height:60%;
 width: 100%;
 margin:0px 20px 0px 20px;
}

#heading-section{
   color: rgb(0, 0, 88);
    margin: 0px 300px 40px 300px;
   font-size: xx-large;
   text-align: center;
}

#btn-section{
    height:20%;
    width: 100%;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;      
}

.btn-text{
    height:45px;
    width:180px;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 3px solid #005fb2;
    border-radius: 5px;
    color:white;
    background-color: rgb(49, 121, 177);
}

.btn-text:hover{
    background-color: #073359;
    border: 3px solid #073359;
}


.section2 {
    padding: 0px 10px 30px 10px;
 height:40%;
 width: 100%;
 margin:0px 20px 40px 20px;
 
}

.first-rowcard {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content:center;
    gap:30px;
    align-items: center;
    
}    

.second-rowcard {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.logo-card {
  background: white;
  width: 210px;
  height: 100px;
   display: flex; 
   align-items: center; 
   justify-content: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.logo-card:hover {
  transform: translateY(-5px);
}

.logo-card img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit:cover;
}


/* page no 5 start  */

#page5{
    height: 90%;
    width: 100%;
}


/* footer designing */

.main-footer {
    height: 100%;
    width: 100%;
    color: #333; 
}

.footer-top{
    height: 85%;
    width: 100%;
   display: inline-flex;
   justify-content:space-around;
   align-items: center;

}

.footer-brand{
    width: 30%;
    margin-bottom:100px;
     display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:white ;
}


.footer-logo {
    width:92px;
    margin-bottom:42px;
}
 

.social-icons {
    display: flex; 
    gap:12px;
    margin-bottom:25px;
    transition: color 0.3s;
    font-size:xX-large;
    color: #666;
}

.social-icons i:hover {
    color: #192a31;
    transform: translateY(-2PX);
}


.call-us {
    font-size: 16px;
    font-weight: bolder;
    color: #454545;
}



.footer-links{
    background-color:white;
    margin-top:100px;
    margin-right:150px;
    width: 70%;
    display:inline-flex ;
    justify-content: space-around;
}

.links h3 {
    font-size:16px;
    margin-bottom:35px;
    color: #454545;
    cursor: pointer;
}
.links ul {
    list-style: none;
}

.links ul li {
    margin-bottom: 12px;
    margin-top: 20px;
    color: #5994c8;
    font-size: 14px;
    cursor: pointer;
    font: weight 500px;
}


.fas.fa-external-link-alt { 
     font-size: 12px;
    margin-left: 4px;
cursor: pointer;
}


.footer-bottom{
    height:15%;
    width: 100%;
    background-color: #032d60;
    color: white;
    display: flex;   
  cursor: pointer;
    align-items: center;
}

button:hover{
    background-color: #ebeef3;
}

.region-selector {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size:17px;
    display: flex;
    align-items: center;
    gap:8px;
}

.region-selector i{
    font-size:x-large;
    font-weight: 500;
}



.legal-nav {
    display: flex;
    gap: 17px; 
    margin-bottom:20px;
    font-size:14px;
    text-decoration:underline; 
}


.copyright{
    font-size:14px;
}

/* Floating Button  */


.agentforce-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(39, 42, 181);
    color: white;
    padding: 18px 32px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.agentforce-btn:hover{
    background-color: rgb(5, 6, 96);
}